@model List<LaVie.Models.Category>
@using LaVie.ViewModels
@{
    ViewData["Title"] = "Categories";
}
<section class="page-bar">
    @* breadcrumbs *@
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @* buttons *@
    <div class="flex gap-2 items-center">
        @* page size *@
        @await Html.PartialAsync("Components/_PageSize", "Category")
        @* admin options *@
        @if (User.IsInRole("Admin"))
        {
            <div class="relative">
                <button class="btn del min-w-32" onclick="this.nextElementSibling.classList.toggle('scale-100')">
                    <span>Admin</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <div
                    class="absolute overflow-hidden bg-white shadow-lg shadow-gray-600 w-full scale-0 transition-transform origin-top rounded z-2 top-[125%]">
                    <ul class="flex flex-col gap-3 p-3">
                        <li>
                            <button class="btn add w-full" onclick="toggleConfirm('Are you sure?', this)">
                                <a class="hidden" asp-controller="Category" asp-action="Seed"></a>
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span>Seed</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn del w-full"
                                onclick="toggleConfirm('Are you sure?', () => window.location.href = '/Category/Truncate'))">
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span>Truncate</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        }
        @* multi actions *@
        <button class="btn upd">
            <span>Actions</span>
            <i class="material-icons">home</i>
        </button>

        @* create button *@
        @await Html.PartialAsync("Components/_CreateButton", "Category")
    </div>
</section>

<section class="page-content">
    @if (Model != null && Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <i class="material-icons">check</i>
                            </div>
                        </th>
                        <th class="!w-0">
                            #
                        </th>
                        @foreach (var th in new string[] { "Title", "Slug", "Products", "Actions" })
                        {
                            <th>@th</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" />
                                    <i class="material-icons">check</i>
                                </div>
                            </td>
                            <td>@((ViewBag.Page - 1) * 10 + i + 1)</td>
                            <td>@Model[i].Title</td>
                            <td>@Model[i].Slug</td>
                            <td><span class="badge primary">@Model[i].ProductsCount</span></td>
                            <td>
                                <div class="actions">
                                    @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Category",
                                    Model[i].Id))
                            @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("Category",
                                                        Model[i].Id))
                        </div>
                    </td>
                </tr>
                                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        @await Html.PartialAsync("Components/_Pagination", "Category")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    @await Html.PartialAsync("Components/_Alert", "No category defined yet!")
}
</section>