@model List<LaVie.Models.Category>
@using LaVie.ViewModels
@{
    ViewData["Title"] = "Categories";
}
<section class="page-bar">
    @* breadcrumbs *@
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @* buttons *@
    <div class="flex gap-2 items-center">
        @* page size *@
        @await Html.PartialAsync("Components/_PageSize", "Category")
        @* admin options *@
        @if (User.IsInRole("Admin"))
        {
            <div class="relative flex flex-col items-center">
                <button class="btn del" onclick="LaVie.funcs.toggleDropdown(this.parentNode.children[1])">
                    <span>Admin</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <div class="la-vie-dropdown origin-top">
                    <ul class="flex flex-col gap-2">
                        <li>
                            <button class="btn add w-full"
                                onclick="LaVie.funcs.toggleConfirm('Are you sure?', () => this.click())">
                                <a asp-controller="Category" asp-action="Seed">
                                    Seed
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        }
        @* multi actions *@
        <div class="relative flex flex-col items-center">
            <button class="btn upd" onclick="LaVie.funcs.toggleDropdown(this.parentNode.children[1])">
                <span>Actions</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <div class="la-vie-dropdown origin-top">
                <ul>
                    <li>
                        <button class="btn del"
                            onclick="LaVie.funcs.toggleConfirm('Are you sure?',()=>LaVie.funcs.multiDelete('Category','categories-table'))">
                            <span>Delete</span>
                            <i class="material-icons">delete</i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        @* create button *@
        @await Html.PartialAsync("Components/_CreateButton", "Category")
    </div>
</section>

<section class="page-content">
    @if (Model != null && Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped" id="categories-table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <i class="material-icons">check</i>
                            </div>
                        </th>
                        <th class="!w-0">
                            #
                        </th>
                        @foreach (var th in new string[] { "Title", "Slug", "Products", "Actions" })
                        {
                            <th>@th</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" data-id="@Model[i].Id" />
                                    <i class="material-icons">check</i>
                                </div>
                            </td>
                            <td>@((ViewBag.Page - 1) * 10 + i + 1)</td>
                            <td>@Model[i].Title</td>
                            <td>@Model[i].Slug</td>
                            <td><span class="badge primary">@Model[i].ProductsCount</span></td>
                            <td>
                                <div class="actions">
                                    @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Category",
                                    Model[i].Id))
                            @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("Category",
                                                        Model[i].Id))
                        </div>
                    </td>
                </tr>
                                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        @await Html.PartialAsync("Components/_Pagination", "Category")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
        }
        else
    {
        @await Html.PartialAsync("Components/_Alert", "No category defined yet!")
    }
</section>