@model List<LaVie.Models.User>
@using LaVie.Extras.Structs
@{
    ViewData["Title"] = "Users";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    <div class="flex gap-2">
        @await Html.PartialAsync("Components/_HelpButton")
        @await Html.PartialAsync("Components/_CreateButton", "User")
    </div>
</section>

<section class="page-content">
    @if (Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped">
                <thead>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" class="table-master-checkbox" />
                            <i class="material-icons">check</i>
                        </div>
                    </th>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created At</th>
                    @if (ViewBag.ActiveUserRole == "Admin")
                    {
                        <th>Actions</th>
                    }
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" />
                                    <i class="material-icons">check</i>
                                </div>
                            </td>
                            <td>@((ViewBag.Page - 1) * 10 + i + 1)</td>
                            <td>@Model[i].FirstName</td>
                            <td>@Model[i].LastName</td>
                            <td>@Model[i].Email</td>
                            <td>@Model[i].Role</td>
                            <td>@Model[i].CreatedAt.ToString("yyyy/MM/dd")</td>
                            @if (ViewBag.ActiveUserRole == "Admin")
                            {
                                <td>
                                    <div class="actions"> 
                                        @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("User", Model[i].Id))
                                        @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("User", Model[i].Id))
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                    <td colspan="100%">
                        @await Html.PartialAsync("Components/_Pagination", "User")
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        @await Html.PartialAsync("Components/_Alert", "No user defined yet!")
    }
</section>

@section Scripts {
    <script>
        window.setTimeout(() => {
            window.LaVie.funcs.injectModuleHelpData({
                title: "Users",
                permissions: {
                    "Admin": true,
                    "Manager": {
                        "Create": false,
                        "Index": true,
                        "Update": false,
                        "Delete": false,
                    },
                    "Client": false
                },
                description: "All users of system, of all kind"
            });
        }, 1000)
    </script>
}