@model LaVie.Extras.Structs.TagSelectorStruct
<div class="tag-selector">
  <label>Tags</label>
  <div class="selected-tags"></div>
  <input list="available-tags" placeholder="Type ..." />
  <select name="@Model.AspFor" multiple>
    @foreach (var pair in Model.Pairs)
    {
      <option value="@pair.Value" label="@pair.Key" />
    }
  </select>
  <datalist id="available-tags">
    @foreach (var pair in Model.Pairs)
    {
      <option value="@pair.Value" label="@pair.Key" />
    }
  </datalist>
</div>