@model List<LaVie.Models.Product>;
@{
    ViewData["Title"] = "Products";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    <div class="flex gap-2 items-center">
        @await Html.PartialAsync("Components/_PageSize", "Product")
        @await Html.PartialAsync("Components/_MultiAction", "products-table")
        @await Html.PartialAsync("Components/_CreateButton", "Product")
    </div>
</section>

<section class="page-content">
    @if (Model.Count > 0)
    {
        @await Html.PartialAsync("Components/_TableSearch", new TableSearchStruct("Product", "products-table"))
        <div class="table-container">
            <table class="table striped" id="products-table">
                <thead>
                    <tr>
                        <th>
                            @await Html.PartialAsync("Components/_Checkbox", 0)
                        </th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var product = Model[i];
                        <tr>
                            <td>
                                @await Html.PartialAsync("Components/_Checkbox", 0)
                            </td>
                            <td>@((ViewBag.Page - 1) * 10 + i + 1)</td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>
                                <span class="badge primary">
                                    @product.Category?.Title
                                </span>
                            </td>
                            <td>
                                @if (product.ProductTags != null)
                                {
                                    @foreach (var tag in product.ProductTags)
                                    {
                                        <span class="badge secondary" title="@tag.Tag.Description">#@tag.Tag.Name</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="actions">
                                    @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Product",
                                    product.Id))
                            @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("Product",
                                                        product.Id))
                        </div>
                    </td>
                </tr>
                                }
                <tr class="nothing-found">
                    <td colspan="100%">
                        No result found!
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        @await Html.PartialAsync("Components/_Pagination", "Product")
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>
        }
        else
    {
        @await Html.PartialAsync("Components/_Alert", "No product defined yet!")
    }
</section>