@model List<LaVie.Models.Product>;
@{
    ViewData["Title"] = "Products";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @await Html.PartialAsync("Components/_CreateButton", "Product")
</section>

<section class="page-content">
    @if (Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <i class="material-icons">check</i>
                            </div>
                        </th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" />
                                    <i class="material-icons">check</i>
                                </div>
                            </td>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>
                                <span class="badge primary">
                                    @product.Category?.Title
                                </span>
                            </td>
                            <td>
                                @if (product.ProductTags != null)
                                {
                                    @foreach (var tag in product.ProductTags)
                                    {
                                        <span class="badge secondary" title="@tag.Tag.Description">#@tag.Tag.Name</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="actions">
                                    @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Product",
                                    product.Id))
                            @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("ProductUser",
                                                        product.Id))
                        </div>
                    </td>
                </tr>
                                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        @await Html.PartialAsync("Components/_Alert", "No product defined yet!")
    }
</section>