@using LaVie.Extras.Structs
@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    List<AsideItemStruct> items = new()
{
new()
{
Title = "Home",
Icon = "home",
Controller = "Home",
Action = "Index",
Roles = "All"
},
new()
{
Title = "Users",
Icon = "person",
Controller = "User",
Action = "Index",
Roles = "Admin,Manager"
},
new()
{
Title = "Permissions",
Icon = "check_box",
Controller = "Permission",
Action = "Index",
Roles = "Admin"
},
new()
{
Title = "Roles",
Icon = "key",
Controller = "Role",
Action = "Index",
Roles = "Admin"
},
new()
{
Title = "Categories",
Icon = "category",
Controller = "Category",
Action = "Index",
Roles = "Admin,Manager"
},
new()
{
Title = "Tags",
Icon = "tag",
Controller = "Tag",
Action = "Index",
Roles = "Admin,Manager"
},
new()
{
Title = "Products",
Icon = "shopping_bag",
Controller = "Product",
Action = "Index",
Roles = "Admin,Manager"
}
};

}

<aside class="z-[7] md:z-[5]">
    <div class="m-2">
        <ul>
            @foreach (var item in items)
            {
                @if (item.Roles.Contains(ViewBag.ActiveUserRole) || item.Roles == "All")
                {
                    <li class='@(currentController == item.Controller && currentAction == item.Action ? "active" : "")'>
                        <a asp-controller="@item.Controller" asp-action="@item.Action">
                            <i class="material-icons">@item.Icon</i>
                            <span>@item.Title</span>
                            <div class="click-wave"></div>
                        </a>
                        <span class="triangle">►</span>
                    </li>
                }
            }
            @* settings *@
            <li>
                <div class="submenu-title" onclick="LaVie.funcs.toggleSubmenu(this)">
                    <i class="material-icons">settings</i>
                    <span>Settings</span>
                    <i class="material-icons arrow-down">keyboard_arrow_down</i>
                </div>
                <ul class="submenu-items">
                    <li>
                        <a asp-controller="Profile" asp-action="Index" draggable="false">
                            <i class="material-icons">person</i>
                            <span>Profile</span>
                            <div class="click-wave"></div>
                        </a>
                    </li>
                    <li>
                        @* Direction *@
                        <a onclick="LaVie.funcs.toggleDirection(this)">
                            <i class="material-icons">format_textdirection_r_to_l</i>
                            <span>RTL</span>
                        </a>
                    </li>
                    <li>
                        @* Theme *@
                        <a id="aside-theme-switch" onclick="LaVie.funcs.toggleTheme(this)">
                            <i class="material-icons">dark_mode</i>
                            <span>Dark</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a onclick="LaVie.funcs.toggleSmallAside(this)">
                    <i class="material-icons transition-transform">chevron_left</i>
                    <span>Collapse</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="absolute bottom-0 z-[-1]">
        @await Html.PartialAsync("../Graphics/AsideArt.cshtml")
    </div>
</aside>