<header class="box-shadow">
    @* left section *@
    <i onclick="LaVie.funcs.toggleAsideMobile()" id="aside-toggle-mobile" class="material-icons block sm:!hidden ">dehaze</i>
    <div class="flex gap-2 items-center">
        <i class="material-icons text-teal-500">star</i>
        <a class="font-bold whitespace-nowrap" asp-controller="Home" asp-action="Index">
            @ViewBag.ENV_PROJECT_NAME
        </a>
    </div>
    @* right section *@
    <div class="ms-auto flex flex-row gap-2 items-center">
        @* switch theme *@
        <span class="hidden sm:flex sm:items-center sm:justify-center cursor-pointer tooltip-activator" id="header-theme-switch"
            onclick="LaVie.funcs.toggleTheme(this)">
            <i class="material-icons hover:rotate-45 transition-transform"></i>
            <script>
                document.querySelector('#header-theme-switch i').innerHTML = (window.localStorage.getItem("la-vie-theme") == "dark" ? "light":"dark") + "_mode";
            </script>
            <small class="tooltip top-[120%] margin-auto  ">
                Change theme
            </small>
        </span>
        @* direction  *@
        <span class="hidden sm:flex sm:items-center sm:justify-center cursor-pointer tooltip-activator" id="header-direction-switch"
            onclick="LaVie.funcs.toggleDirection(this)">
            <i class="material-icons hover:-translate-x-1 transition-transform">star</i>
            <script>
                const currentDirection = window.localStorage.getItem("la-vie-direction");
                document.querySelector('#header-direction-switch i').innerHTML = "format_textdirection_" + (currentDirection === "ltr" ? "r_to_l" : "l_to_r");
            </script>
            <small class="tooltip top-[120%] margin-auto ">
                Change direction
            </small>
        </span>
        <div class="flex flex-col m-auto justify-center">
            <span class="flex flex-nowrap gap-2">
                <span class="font-bold">@ViewBag.ActiveUser.FullName</span>
                <span class="text-xs text-yellow-300">@ViewBag.ActiveUserRole</span>
            </span>
            <span class="text-right text-xs">@ViewBag.ActiveUser.Email</span>
        </div>
        <div class="relative" onclick="LaVie.funcs.toggleDropdown(this.children[1])">
            <img id="profile-image" src="@ViewBag.ActiveUser.AvatarPath" draggable="false" />
            <div class="la-vie-dropdown -start-[200%] origin-top-right">
                <form asp-controller="Account" asp-action="Logout" method="POST">
                    <button type="submit" class="btn del me-0">
                        <i class="material-icons">logout</i>
                        <span>Logout</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>